#root {
  max-width: 1280px;
  margin: 0;
  padding: 1rem 6rem;
}
.comments_section {
  display: flex;
  flex-direction: column;
  
  .semi-input-textarea {
    font-size: 18px;
    border: 1px;


}
}

